#edd-paypal-pro-cc-fields {
    .card_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em .5em;
        margin: 1em auto;

        input {
            width: 100%;
        }

        .edd-paypal-pro-card-form-group {
            grid-column: 1 / -1;

            @media (min-width:768px) {
                &--half {
                    grid-column: span 1;
                }
            }
        }
    }
}

#edd-paypal-pro-or-divider {
    font-size: 90%;
    text-align: center;
    margin: 15px 0;
    overflow: hidden;
    text-transform: lowercase;

    &:before,
    &:after {
        background-color: rgba(0, 0, 0, .10);
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }

    &:before {
        right: 0.5em;
        margin-left: -50%;
    }

    &:after {
        left: 0.5em;
        margin-right: -50%;
    }
}
